# Dependencies
**/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
wedding-dashboard/node_modules/

# Next.js
wedding-dashboard/.next/
wedding-dashboard/out/
**/next
**/.next/
**/out/
**/.next
**/dist

# Production builds
**/build

# Misc
.DS_Store
*.pem
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env